* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
  text-decoration: none;
}

body{
  background-color: #23252C;
  margin-bottom: 50px;
}

input[type="date"] {
  display: -webkit-inline-flex;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px;
  width: 150px;
  align-self: center;
}

.pontuation {
  background-color: #F3BF99;
  width: 32px;
  height: 32px;
  color: white;
  font-size: 18px;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
}

.rating-imp {
  font-size: 15px;
  color: #F3BF99;
  margin-bottom: 50px;
}

.mintContainer {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
}

.mint--image, .mint--name, .mint--address, .mint--btn {
  align-self: center;
}

.mint--name {
  margin-top: 22px;
  margin-bottom: 7px;
  color: white;
  font-size: 25px;
}

.mint--address {
  color: #F3BF99;
  font-size: 13px;
  margin-bottom: 8px;
  font-weight: normal;
}

.mint--image {
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.mint--profile {
  background-color: #1A1B21;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.connect {
  white-space: nowrap;
}

.mint--opensea {
  background-color: white;
  color: #374151;
  text-decoration: none;
}

.mint--dates {
  color: white;
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mint--opensea--logo {
  width: 15px;
  height: 15px;
  margin-right: -8px;
}

.mint--opensea, .mint--mint, .mint--wallet {
  border-radius: 6px;
  gap: 5px;
  font-size: 14px;
  display:flex;
  align-items: center;
  justify-content: center;
  width:110px;
  height:30px;
}

.mint--btn {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button {
  height: 30px;
  border: 0;
  width: 110px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  color: white;
}

.connect-wallet-button, .mint-button {
  background: -webkit-linear-gradient(left, #e9e9f4, #2196f3);
  color: #374151;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.about--title, .thanks--title, .mint--rating--title {
  color: #F5F5F5;
  font-size: 16px;
  padding: 5px 0;
}

.about--text, .thanks--text, .mint--ratings {
  color: #DCDCDC;
  font-size: 11px;
  font-weight: lighter;
}

.rating--other {
  margin-top: 10px;
}

.mint--ratings--span {
  color: #F3BF99;
}

.mint--ratings {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10px;
  max-width: 400px;
}

.aboutContainer, .thanksContainer, .mint--rating {
  background-color: #1A1B21;
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}

.footerContainer > a {
  text-decoration: none;
  outline: none;
  color: #918E9B;
  text-decoration: none;
}

.thanksContainer {
  padding-bottom: 30px;
}

.footerContainer {
  background-color: #161619;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  color: #918E9B;
  border-radius: 0 0 10px 10px;
  padding:10px 25px 10px 25px; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap:25px;
  font-size: 25px;
}